.home-container {
  min-height: 100vh;
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 50vh;
}

.hero-content {
  flex: 1;
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/gym.png');
  background-size: cover;
}

.hero-text-box {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

.welcome-text {
  color: var(--text-blue);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #e0e0e0;
}

.hero-image-container {
  max-width: 60%;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-bodybuilder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features-footer {
  background-color: #333;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40vh;
}

.features-left {
  flex: 1;
  max-width: 50vw;
}

.features-description {
  color: var(--text-white);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  color: #e0e0e0;

}

.features-title {
  color: var(--text-blue);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.features-grid {
  display: flex;
  gap: 4rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.feature-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cta-card {
  background-color: #e0e0e0;
  color: #333;
  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 8px;
  width: 25vw;
  height: 45vh;
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-text {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: #444;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}

.btn-clic {
  background-color: var(--accent-green);
  color: #000;
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 10px rgba(118, 255, 3, 0.4);
  transition: transform 0.2s;
}

.btn-clic:hover {
  transform: translateX(-50%) scale(1.05);
}

.game-description {
  background-color: #333;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vw;
}

.game-description-grid{
  display:flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.game-description-item{
  background-color: white;
  color: #333;
  padding: 2rem;
  border-radius: 8px;
  flex: 1;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}

.game-description-title {
  color: var(--primary-purple);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-top: 2vw;
}

.game-description-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #444;
}

.footer {
  background-color: #ffffff;
  color: #333;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vw;
}

.footer-grid {
  
  display:flex;
  flex-direction: row;
  gap: 8rem;
  padding-bottom: 5rem;
}